/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Reset CSS - END */
body{
 background-color: hsl(0, 0% ,98%);
 line-height: 1.5;
 font-family: 'Poppins', sans-serif;
}

.header{
    text-align: center;
    margin-top: 30px;
}

.top-heading{
    font-size: 26px;
    margin-top: 20px;
    font-weight: 200;
}

.sub-heading{
    font-size: 26px;
    font-weight: 600;
}

.title-description{
    font-size: 14px;
    font-weight: lighter;
    color: hsl(229, 6%, 66%);
    width: 40%;
    margin: 6px auto;
}


.container{
    display: flex;
    height: 600px;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.card{
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
    height: 180px;
    padding: 30px;
    width: 300px;
}

#card-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#supervisor{
    border-top: 4px solid hsl(180, 62%, 55%);
    align-self: center;
}

#team-builder{
    border-top: 4px solid hsl(0, 78%, 62%);
    margin-bottom: 20px;

}

#karma{
    border-top: 4px solid hsl(34, 97%, 64%);

}

#calculator{
    border-top: 4px solid hsl(212, 86%, 64%);
    align-self: center;
}

.card-description{
    margin-top: 0px;
    padding-top: 20px;
    font-size: 14px;
    color: hsl(229, 6%, 66%);
}

.card-title{
    font-weight: bolder;
    font-size: 24px;
}

.icon-container{
    margin-top: 40px;
    text-align: right;
}

.attribution{
    margin: 20px 0px;
}

@media screen and (max-width : 480px ) {
    .container{
        flex-direction: column;
        height: unset;
        margin-top: 25px;
        padding: 20px;
    }

    .header{
        padding: 20px;
    }

    .title-description{
        width: unset;
    }

    .card{
        width: unset;
    }
    
}