/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Reset CSS - END */

*{
    box-sizing: border-box;
}

body{
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    line-height: 1.5;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo{
    margin-bottom: 32px;
}

.splitter-body{
    background-color: white;
    border-radius: 12px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 600px;
}

.splitter-input{
    padding-right: 20px;
}

.input-card{
    margin-top: 12px;
}

.number{
    display: block;
    width: 90%;
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
    font-size: 18px;
    text-align: end;
    background-color:hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    border: 2px solid transparent;
    padding-left: 20px;
}

.input-tip{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.tip{
    background-color:hsl(183, 100%, 15%);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    border: 2px solid transparent;
}

.input-with-icon{
    position: relative;
}

.input-icon{
    position: absolute;
    top: 12px;
    left: 5px;
}

.splitter-output{
    background-color: hsl(183, 100%, 15%);
    border-radius: 5px;
    width: 50%;
    color: white;
    padding: 20px;
    position: relative;
}

.output-card{
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.span{
    font-size: 14px;
    color: hsl(172, 67%, 45%);;
}

#reset{
    width: 240px;
    padding: 10px;
    position: absolute;
    bottom: 10%;
    border-radius: 4px;
    background-color: hsl(172, 67%, 45%);
    border: 2px solid transparent;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    text-align: center;
}

.output-amount{
    color: hsl(172, 67%, 45%);
    font-size: 28px;
}

@media screen and (max-width: 480px) {

    .container{
        justify-content: flex-end;
    }

    .splitter-body{
        flex-direction: column;
        width: 100%;
        align-items: center;
        border-radius: 12px 12px 0px 0px;
    }

    .number{
        width: 350px;
    }

    .splitter-input{
        padding-left: unset;
    }


    .splitter-output{
        width: 95%;
        height: 320px;
        margin-top: 28px;
    }

    #reset{
        width: 90%;
    }
    
}