/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* Reset CSS - END */
body{
    background-color: hsl(217, 54%, 11%);
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    width: 330px;
    background-color: hsl(216, 50%, 16%);
    color: white;
    border-radius: 12px;
}

.card-body{
    padding: 20px;
}

.card-img{
    width: 300px;
    margin: 16px auto;
    height: 300px;
    border-radius: 12px;
}

.card-title{
    font-weight: bolder;
    font-size: 15px;
}

.card-content{
    padding-top: 20px;
    color: #6D8096;
}

.footer-img{
    width: 40px;
    border: 1px solid white;
    border-radius: 100%;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 12px;
}

.flex{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.span{
    margin-left: 10px;
}

.span-color{
   color: #00FFF8;
   margin-left: 10px;

}

/* .footer-container{
    border-top: 2px solid #417C9B;
} */

@media screen and (max-width: 480px){
    .card{
        margin: 20px;
        height: unset;
    }
    
}